@media screen and (min-width: 800px) {
  .display{
    background-color: black;
    width: 37.5rem;
    height: 37.5rem;
    text-align: center;
    line-height: 5rem;
    font-size: 5.625rem;
  }
} 

@font-face {
    font-family: DS-DIGI ;
    src: url(../fonts/DS-DIGI.TTF);
}

html, body{ 
    background-color: black;
    margin: 0;
    padding: 0;
}

.relogio{
  font-family: DS-DIGI;
  background-color: black;
  color: #f2cf63;
  font-style: unset;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display{
  background-color: black;
  width: 600px;
  height: 200px;
  text-align: center;
  line-height: 1px;
  font-size: 5rem;
}

a{
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  font-family:'Courier New', Courier, monospace
}
